/* Dark Theme for Asian Option Vignettes */

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  margin: 1em auto;
  max-width: 700px;
  padding-left: 2em;
  padding-right: 2em;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #e0e0e0;
}

h1 {
  margin-top: 0;
  font-size: 35px;
  line-height: 40px;
  color: #4ec9b0;
}

h2 {
  border-bottom: 4px solid #2d2d2d;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 145%;
  color: #569cd6;
}

h3 {
  border-bottom: 2px solid #2d2d2d;
  padding-top: 10px;
  font-size: 120%;
  color: #4ec9b0;
}

h4 {
  border-bottom: 1px solid #2d2d2d;
  margin-left: 8px;
  font-size: 105%;
  color: #9cdcfe;
}

h5, h6 {
  border-bottom: 1px solid #333;
  font-size: 105%;
  color: #9cdcfe;
}

/* Links */
a {
  color: #569cd6;
  text-decoration: none;
}

a:hover {
  color: #9cdcfe;
}

a:visited {
  color: #c586c0;
}

a:visited:hover {
  color: #daa0d8;
}

/* Code blocks */
pre, code {
  background-color: #2d2d2d;
  border-radius: 3px;
  color: #d4d4d4;
  white-space: pre-wrap;
}

pre {
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
  padding: 10px;
  border: 1px solid #3e3e3e;
}

pre:not([class]) {
  background-color: #2d2d2d;
}

code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 85%;
  padding: 2px 4px;
}

p > code, li > code {
  padding: 2px 4px;
  background-color: #2d2d2d;
  border-radius: 3px;
}

/* Source Code highlighting */
.sourceCode {
  overflow: visible;
  background-color: #2d2d2d;
}

code.sourceCode > span {
  color: inherit;
  text-decoration: inherit;
}

div.sourceCode {
  margin: 1em 0;
  background-color: #2d2d2d;
  border-radius: 3px;
  border: 1px solid #3e3e3e;
}

/* Syntax highlighting colors */
code span.kw { color: #569cd6; font-weight: bold; } /* Keyword */
code span.dt { color: #4ec9b0; } /* DataType */
code span.dv { color: #b5cea8; } /* DecVal */
code span.bn { color: #b5cea8; } /* BaseN */
code span.fl { color: #b5cea8; } /* Float */
code span.ch { color: #ce9178; } /* Char */
code span.st { color: #ce9178; } /* String */
code span.co { color: #6a9955; font-style: italic; } /* Comment */
code span.ot { color: #dcdcaa; } /* Other */
code span.al { color: #f48771; font-weight: bold; } /* Alert */
code span.fu { color: #dcdcaa; font-weight: bold; } /* Function */
code span.er { color: #f48771; background-color: #3e2a2a; } /* Error */
code span.va { color: #9cdcfe; } /* Variable */

/* Tables */
table {
  margin: 1em auto;
  border-width: 1px;
  border-color: #3e3e3e;
  border-style: outset;
  border-collapse: collapse;
  background-color: #252525;
}

table th {
  border-width: 2px;
  padding: 5px;
  border-style: inset;
  border-color: #3e3e3e;
  background-color: #2d2d2d;
  color: #e0e0e0;
  font-weight: bold;
}

table td {
  border-width: 1px;
  border-style: inset;
  border-color: #3e3e3e;
  line-height: 18px;
  padding: 5px 5px;
}

table, table th, table td {
  border-left-style: none;
  border-right-style: none;
}

table thead, table tr.even {
  background-color: #2a2a2a;
}

/* Paragraphs and blockquotes */
p {
  margin: 0.5em 0;
  color: #d4d4d4;
}

blockquote {
  background-color: #2a2a2a;
  padding: 0.25em 0.75em;
  border-left: 4px solid #569cd6;
  color: #d4d4d4;
}

/* Horizontal rules */
hr {
  border-style: solid;
  border: none;
  border-top: 1px solid #555;
  margin: 28px 0;
}

/* Lists */
ul {
  margin-top: 0;
}

ul li {
  list-style: circle outside;
  color: #d4d4d4;
}

ul ul {
  margin-bottom: 0;
}

dl {
  margin-left: 0;
}

dl dd {
  margin-bottom: 13px;
  margin-left: 13px;
}

dl dt {
  font-weight: bold;
  color: #e0e0e0;
}

/* Images */
img {
  background-color: #1e1e1e;
  padding: 2px;
  border: 1px solid #3e3e3e;
  border-radius: 3px;
  margin: 0 5px;
}

div.figure {
  text-align: center;
}

/* Table of Contents */
#TOC {
  clear: both;
  margin: 0 0 10px 10px;
  padding: 4px;
  width: 400px;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  background-color: #252525;
  font-size: 13px;
  line-height: 1.3;
}

#TOC .toctitle {
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
  color: #e0e0e0;
}

#TOC ul {
  padding-left: 40px;
  margin-left: -1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

#TOC ul ul {
  margin-left: -2em;
}

#TOC li {
  line-height: 16px;
}

/* Special styling for math */
.math {
  color: #d4d4d4;
}

/* Author and date metadata */
.author, .date {
  color: #b0b0b0;
}

/* Title */
.title {
  color: #4ec9b0;
}

/* Strong and emphasis */
strong {
  color: #e0e0e0;
  font-weight: bold;
}

em {
  color: #d4d4d4;
  font-style: italic;
}
